<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <script type="text/javascript" src="/static/js/mainjs.js"></script>
    <title>Reverse</title>
</head>
<body>
    <nav>
        <ul>
            <li style="padding: 0%; font-weight: bold;"><a href="#zero">Reverse<span class="semicolons">;</span></a></li>
            <li><a href="#one" id="n_one">#1 What's reverse?</a></li>
            <li><a href="#two" id="n_two">#2 Project</a></li>
            <li><a href="#three" id="n_three">#3 Login</a></li>
        </ul>
    </nav>
    <main >
        <section id="zero">
            <article id="z_main">
                <h1 style="font-size: 8vw;">REVERSE<span class="semicolons" style="font-size: 10vw">;</span></h1>
            </article>
            <article id="z_left">
                <p>NSU COMPUTER SCIENCE CLUB<br>
                📞 010-2842-5267<br>
                🏠 4203?<br>
                @nsu_reverse
            </p> 
            </article>
        </section>
        <section id="one">
            <div id="one_box">
                <table>
                    <tr>
                        <td id="ond_table_text">REVERSE는 활동 내용 활동 내용 활동 내용 활동 내용 활동 내용 활동 내용 활동 내용 활동 내용 활동 내용 활동 내용 활동 내용
                            [b]/[v], [s]/[θ]의 구별이 없는 한국어와 일본어에서는 발음이 매우 유사하기 때문에 동음이의어 중의성을 이용한 작품들도 몇몇 존재한다. 단, 일본식 표기에서는 후자에서 장음이 더 들어가 リバース, リーバース로 표기가 약간 다르다.
                            <br><br>[rɪvɜːrs]. '역(逆), 반대의'라는 뜻을 지는 영어 단어. 리버스 엔지니어링이나 리버스 그래비티 등으로 서브컬처에도 친숙한 영단어이기도 하다. 인버스(inverse)와 동의어이다. 카트라이더역시 이 단어의 의미로 쓰이고 있다.
                        </td>
                        <td><div id="one_img_div"><img id="one_img" src="/img/2_1.jpg">
                        <button class="one_BT1" onclick="oneL()">◀</button><button class="one_BT2" onclick="oneR()">▶</button></div></td>
                    </tr>
                </table>
            </div>
        </section>
        <section id="two">
            <div id="two_box">
                <button id="two_L" onclick="twoL()">◀</button>
                <table>
                    <tr>
                        <td><a id="two_img_h1" target="_blank"><img id="two_img1" src="/img/3_1.jpg"></a></td>
                        <td style="padding: 0;"><a id="two_img_h2" target="_blank"><img id="two_img2" src="/img/3_2.jpg"></a></td>
                        <td><a id="two_img_h3" target="_blank"><img id="two_img3" src="/img/3_3.jpg"></a></td>
                    </tr>
                </table>
                <button id="two_R" onclick="twoR()">▶</button>
            </div>
        </section>
        <section id="three">
            <div id="t_main">
                <div id="t_home">
                    <!-- 로그인 X -->
                    <h1 style="font-size: 2.5vw; background-color: aliceblue;">어서오세요 😎</h1><br>
                    <a href="login.html"><button id="loginBT"><span>로그인 하기</span></button></a>
                    <a href="new.html" style="margin-top: 0.5em;">회원가입하기</a>
                    
                    <!-- 로그인 했을 때 -->
                    <!-- <h1>환영합니다, {name}님!</h1>
                    <a onclick="로그아우웃..."style="margin-top: 0.5em;">로그아웃하기</a> -->
                </div>
            </div>
        </section>
    </main>
    
</body>
</html>